*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* 
.cabeçalho{
    background-color:#F572F0;
    border: solid;
    width: 75vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
   
    
}
.title{
    font-size: 28px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}
body{
    background-color: #E3E9FF;
}
.menu_hamburger{
    border: solid blue;
    width: 40px;
    height: 35px;
    border-radius: 9px;
}
.corpo{
    border: solid;
   justify-items: center;
    background-color: white;

}
.tarefa-lista{
    border: solid;
    width:75vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.tarefa-lista>button{
    border: none;
    cursor: pointer;
    width: 25px;

}
.corpo>button{
    background-color: #F572F0;
    border: none;
    border-radius: 23px;
    width: 35vw;
    height: 10vh;
}
 */

 body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #E3E9FF;
    padding: 40PX;

 }
 .container{
    background-color: #FFF;
    padding: 20PX;
    max-width: 500px;
    margin: auto;
    border-radius:8px;
 }
 .container>h1{
    font-family:'Times New Roman', Times, serif;
    color: #FFF;
    background-color:#F572F0 ;
    height:20vh;
 }
 li{
    margin-bottom: 10px;
 }
 .completed{
    text-decoration: line-through;
    color: gray;
 }